<nav class="sticky-top border-bottom shadow-sm bg-white">
    <div class="container-md d-flex flex-column flex-md-row justify-content-between align-items-center py-3">
        <a href="/" class="text-decoration-none">
            <h3 class="d-flex align-items-center fw-bolder text-dark"><i class="fa-solid fa-house-chimney me-1 text-danger"></i><span class="text-danger me-1">REAL</span>ESTATE</h3>
        </a>
        <form action="/search" method="GET" class="input-group my-2 rounded-pill searchbar w-50">
            <input type="text" class="form-control" placeholder="Search a city, district or seller..." name="q">
            <button class="btn btn-danger px-3" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <div class="d-flex">
            <% if(locals.isAuthenticated){ %>
                <div class="dropdown me-2">
                    <button class="btn btn-danger px-4" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Account
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/accounts/infos">Informations</a></li>
                      <li><a class="dropdown-item" href="/accounts/<%= currentUser %>/favorites">Favorites</a></li>
                      <li><a class="dropdown-item d-none d-md-block d-lg-none" href="/houses/new">Post New House</a></li>
                      <li><a class="dropdown-item" href="/accounts/<%= currentUser %>">Posted Houses</a></li>
                      <% if(role == "Administrator"){ %>
                        <li><a class="dropdown-item" href="/admin">Admin Panel</a></li>
                      <% } %>
                      <li class="border-top"><a class="dropdown-item" href="/auth/logout">Logout</a></li>
                    </ul>
                </div>
            <% }else{ %>
                <a href="/auth/signup" class="btn btn-danger me-2">Sign Up</a>
            <% } %>
            <a href="/houses/new" class="btn btn-outline-danger d-block d-md-none d-lg-block" >Post New House</a>
        </div>
    </div>
</nav>